<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- ejs 기본 문법 -->
    <!-- <h1><%= 1 + 3 %></h1>
    <h1><%= num %></h1>
    
    <% if (num > 4) { %>
        <h1><%= num %></h1>
    <% } else{  %>
        <h1>숫자가 4보다 작다</h1>
    <% } %> -->

    <!-- form태그 활용 -->
    <h1>댓글 목록</h1>
    <!-- <%= comments %> -->

    <% for (comment of comments) { %>
        <li> <%= comment.id %> <%= comment.content %></li>
        <form action="/update/<%= comment.id %>" method="post">
            <!-- /update api url로 보낼거야. 그 때 id값을 같이 보낼 거야. -->
            <input type="text" id="lname" name="content"><br><br>
            <input type="submit" value="Submit">
        </form>
        <form action="/delete/<%= comment.id %>" method="post">
            <!-- /delete api url로 보낼거야. 그 때 id값을 같이 보낼 거야. -->
            <input type="submit" value="Submit">
        </form>
    <% } %>
    <hr>
    <form action="/create" method="post">
        <input type="text" id="lname" name="content"><br><br>
        <input type="submit" value="Submit">
    </form>


</body>
</html>